*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	font: {
		family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
		size: 13px;
	}
	color: #0a0a0a;
	letter-spacing: 0.3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
