.Button {
  padding: 12px 20px;
  width: 100%;

  border: none;
  background-color: #3d5ea8;

  color: white;
  font-weight: bold;
  letter-spacing: 0.7px;

  cursor: pointer;

  &:hover {
    background-color: lighten(#3d5ea8, 5%);
  }
}

.facebook {
  background-color: #3d5ea8;
  &:hover {
    background-color: lighten(#3d5ea8, 5%);
  }
}

.google {
  background-color: #cc2e2e;
  &:hover {
    background-color: lighten(#cc2e2e, 5%);
  }
}
