.FacebookBar {
	padding: 25px 0px;
	max-height: 80px;
	text-align: center;
}

.fbLoginButton {
	padding: 12px 20px;
	border: none;
	background-color: #3d5ea8;

	color: white;
	font-weight: bold;
	letter-spacing: 0.7px;

	cursor: pointer;

	&:hover {
		background-color: lighten(#3d5ea8, 10%);
	}
}

.fbInfoBox {
	text-align: center;
}

.fbInfoMsg {
	line-height: 150px;
}

.Profile {
	position: relative;
	top: -35px;
	margin: 0px auto;
	width: 200px;
	text-align: center;

	img {
		box-sizing: content-box;
		width: 70px;
		height: 70px;
		border: 10px solid #f4f4f4;
		border-radius: 50%;
		background-color: #fff;
	}

	h3 {
		margin: 0px;
	}
}

.Photo {
}
